.entete__header{
    background-image: url("images/logo.png");
    background-position-y:-90px;
    background-position-x:800px;
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
}

