.entete__header{
    background-image: url("images/avion.png");
    background-size: 25%;
    background-position: 75% 10%;

    background-repeat: no-repeat;
    position: relative;
}

@media screen and (max-width: 768px) {
    .entete {
        background-position:50% 50% ;
    }
}