.entete__header{
    background-image: url("images/logo.png");
    background-position-y:top;
    background-position-x:right;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
}

@media screen and (max-width: 768px) {
    .entete {
        background-position:50% 50% ;
    }
}