.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.flexbox_elm {
    flex: 1 0 150px;
    border: 1px solid #ffffff;
}
