:root{

    //  /* niveau de transparence des h */
    // --transparence-h1 : 1;
    // --transparence-moyen : 0.5;
    // --transparence-peu : 0.7;
    // transparence des sections
    //  --transparence-section : 0.1;
      // largeur des section
      --largeur-section : 90vw;
     --largeur-header : 45vw;
      --largeur-footer :25vw;    

    //
    /*calcul des couleurs*/
    --u1 :140; //couleur initial
    --u2 :calc(var(--u1) + 180); //couleur complementaire
    --u3 :calc(var(--u2) - 50); //couleur analogue gauche
    --u4 :calc(var(--u1) + 30); //couleur analogue droite

    /* satruation luminosité */
    --s-arriere : 100%;
    --s-avant : 50%;
    --l--arriere : 50%;
    --l-avant : 20%;
  
    /*  couleur arriere plan */
   
    // --couleur-arriere-entete : hsl(var(--u1), var(--s-arriere), var(--l--arriere));
    // --couleur-arriere-accueil : hsl(var(--u2), var(--s-arriere), var(--l--arriere));
    // --couleur-arriere-evenement : hsl(var(--u3), var(--s-arriere), var(--l--arriere));
    // --couleur-arriere-galerie : hsl(var(--u4), var(--s-arriere), var(--l--arriere));
    // --couleur-arriere-footer : hsl(var(--u1), var(--s-arriere), var(--l--arriere));
    
    /* couleur avant plan - color */
        --couleur-entete : hsl(var(--u2), var(--s-avant), var(--l-avant));
        --couleur-accueil : hsl(var(--u2), var(--s-avant), var(--l-avant));
        // --couleur-evenement : hsl(var(--u3), var(--s-avant), var(--l-avant));
        // --couleur-galerie : hsl(var(--u4), var(--s-avant), var(--l-avant));
        --couleur-footer : hsl(var(--u1), var(--s-avant), var(--l-avant));

        // pour que la diagonal soit entierement visible
        --couleur-evenement : var(--couleur-accueil);
        --couleur-galerie : var(--couleur-accueil);

    /* couleur monochrome */

    --couleur-arriere-entete : hsl(var(--u1),25%, 10%);
    --couleur-arriere-accueil : hsl(var(--u1), 10%, 15%);
    // --couleur-arriere-evenement : hsl(var(--u1), 100%, 85%);
    // --couleur-arriere-galerie : hsl(var(--u1), 100%, 90%);
    --couleur-arriere-footer : hsl(var(--u1), 20%, 25%);

    --couleur-arriere-evenement : var(--couleur-arriere-accueil);
    --couleur-arriere-galerie : var(--couleur-arriere-accueil);

    /* couleur avant plan - color */ 
        --couleur-entete : hsl(var(--u1), 100% ,40%);
        --couleur-accueil : hsl(var(--u1), 100% ,25%);
        --couleur-evenement : hsl(var(--u1), 100% ,34%);
        --couleur-galerie : hsl(var(--u1), 100% ,35%);
        --couleur-footer : hsl(var(--u1), 100% ,30%);
        
    /* couleur variable */
        --couleur-variable-Diagonal : hsl(var(--u2), 40%, 2%);
        --couleur-lien-visited : hsl( #610707);
        --couleur-lien: #0c501b;
        --couleur-lien-hover: #ffffff;
}


