.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.carte{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    flex:  1 0 calc(950px/4);
    background-color: var(--_couleur-arriere);
    border: 2px solid rgb(206, 15, 15);
  box-sizing: border-box;
  margin-bottom: 10px;
}