/*
feuille de style du menu principale
*/


.menu-principal-container{
    background-color: black;
}
.menu{ //ul
    display: flex;
    list-style-type:none;
 }

.menu-item{//li
    flex:  1 0 50px;
    
}
.menu-item a{//a
    color: green;
}

